<!DOCTYPE html>
<html>
  <head>
    <title>InnerFunset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
